*{
    padding: 0;
    margin: 0;
}

body{

 background: url("snake.bg.png");
min-height: 100vh;
min-width: 100vw;
/* background-repeat: no-repeat;  if you dont want to repeat bg-img again again */
display: flex;
align-items: center;
justify-content: center;


}
#board{
    background: linear-gradient(rgb(112, 188, 5) , rgb(236, 236, 7));
    width: 90vmin;
    height: 92vmin;
    border: 3px darkgreen solid;
    display: grid;
    grid-template-columns: repeat(18 ,1fr);
    grid-template-rows:  repeat(18 , 1fr);
}

.food{
 background: linear-gradient(red , purple);
 border-radius: 2rem;
 border: solid black;
}
.head{
    background: linear-gradient(rgb(208, 133, 20)  , rgb(234, 234, 60)); 
    border-radius: 1px;
    border:  solid white;
    transform: scale(1.02);
  
}

.snake{
    background-color: rgb(182, 108, 6);
    border-radius: 4rem;
   
}
#scoreboard{
    position: absolute;
    top: 14px;
    right: 230px;

    font-size: 25px;
    font-weight: 1000;
    color: rgb(1, 1, 1);

}
#highscoreboard{
    position: absolute;
    top: 40px;
    right: 205px;

    font-size: 25px;
    font-weight: 1000;
    color: rgb(1, 1, 1);
    
}